<h3 class="text-center text-gray-600 p-3">Pongamos a prueba los Guards</h3>
<div class="mx-auto max-w-6xl px-4 flex flex-wrap justify-center gap-5">
  <a class="text-primary font-bold p-3" routerLink="app/perfil">Perfil</a>
  <a class="text-primary font-bold p-3" routerLink="app/perfil-completo">Perfil completo</a>
  <a class="text-primary font-bold p-3" routerLink="app/administracion">Administración</a>
  <a class="text-primary font-bold p-3" routerLink="app/tablero">Tablero</a>
  <a class="text-primary font-bold p-3" routerLink="catalogo">Catálogo</a>
  <a class="text-primary font-bold p-3" routerLink="acceder">Acceder</a>
</div>
